<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Travel Planner</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header>
			<div class="header-logo">
				<a href="/" title="Inspirock Trip Planner" >
					<img src="/img/Travel Planner.svg" alt="">
				</a>
				<span>Inspiration to see the planet</span>
			</div>
			<div class="plans-nav"> 

			</div>
		</header>
		<main>
			<div class="input-section">
				<div class="main-text">
					<h1>The new way to plan your next trip</h1>
				</div>
				<div class="input-form">
					<form>
						<ul>
							<li>
							  <label for="dist">Name:</label>
							  <input type="text" id="dist" name="user_name">
							</li>
							<li>
							  <label for="date">Start:</label>
							  <input type="date" name="startDate" min="2020-06-01" max="2021-08-31" id="startDate">
							</li>
							<li>
								<label for="date">End:</label>
								<input type="date" name="endDate" min="2020-06-01" max="2021-08-31" id="startDate">
							  </li>
						</ul>
					</form>
				</div>
			</div>
			<div class="plans-section">
				<div>
					<h1>
						My Plans
					</h1>
				</div>
				<div class="plan-cards">

				</div>
			</div>
		</main>
		<footer>
			<div>
				Test footer
			</div>
		</footer>
		<script>
			if ('serviceWorker' in navigator) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.register('/service-worker.js').then(registration =>{
					console.log('SW registered successfuly: ', registration);
				});
			});
			}else{
			console.log("Service Working not supported");
			}
		</script>
	</body>
</html>