
html{
    min-width: 100%;
    min-height: 100%;
}
body{
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(222,188,66,1) 58%, rgba(253,187,45,1) 100%);  
    font-family: 'Lato',sans-serif;
    color: white;
    text-shadow: 2px 2px 10px black;
}

.header-logo {
    color: white;
    span {
        font-size: 25px;
        text-justify: center;
        display: none;
    }
}

.input-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 50vh;
    min-width: 90vw;
    
    .main-text {
        grid-column: 1;
        justify-self: center;
        align-self: center;
        min-width: 30vw;
    }

    .input-form {
        display: flex-box;
        background-color: white;
        box-shadow: 0.4px 0.4px 5px black;
        color: black;
        min-width: 40vw;
        min-height: 40vh;
        border-radius: 10px;
        grid-column: 2;
        justify-self: center;
        align-self: center;
        input {
            min-width: 50%;
            margin: 20px;
            height: 50px;
            border-radius: 20px;
            border: 2px solid cyan;
            font-size: 25px;
            padding-left: 10px;
            color: gray;
        }

        label {
            font-size: 30px;
            color: gray;
            text-shadow: none;
        }
        ul {
            list-style-type: none;
        }
    }
}

